body{ margin:0px; background:#fff; }


header {
    background-image: url("/images/closeup-spools.jpg");
    background-size:cover;
}
#content{ position:absolute; top:0px; padding:30px; color:#FFF; text-shadow:#000 2px 2px; }