body{ margin:0px; background:#fff; }

header {
    background: #eee;
    background-size:cover;
    height:150px;   
    padding: 0 2%; 
    position:sticky;
}

#top-content{
    display:flex;
}
.social-media{
    justify-content: flex-start;  
}
.account{
    justify-content:flex-end;
}
.account, .social-media{
    display:flex;
    flex-direction: row;
   width:50%;
    padding-top:20px;
}

.primary-nav nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width:100%;
    padding-top:20px;
}

a{
    text-decoration: none;
    color: #000;
    font-size:16.5px;
}

nav a:hover{
    text-decoration: underline;
    font-size:17px;
}


a i{
    color:#000;
    margin:20px
}

.product-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;

}

#one{
   background-image: url("/images/map-hoop.jpg");
   background-size:cover;
   background-position-y: 1px;
   width:250px;
   height:200px;
   text-align:center;
   color:white;
   font-size:20px;
}

#one:hover{
    opacity: .7;
}

#product-name:before{
    content:"Map Hoop";
}

#product-name:hover:before{

    content:"$45.00"
}

.products h4{
    padding-top:40px;
}
