body{ margin:0px; background:#fff; }

header {
    background: #eee;
    background-size:cover;
    height:150px;   
    padding: 0 2%; 
    position:sticky;
}

#top-content{
    display:flex;
}
.social-media{
    justify-content: flex-start;  
}
.account{
    justify-content:flex-end;
}
.account, .social-media{
    display:flex;
    flex-direction: row;
   width:50%;
    padding-top:20px;
}

.primary-nav nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width:100%;
    padding-top:20px;
}

a{
    text-decoration: none;
    color: #000;
    font-size:16.5px;
}

nav a:hover{
    text-decoration: underline;
    font-size:17px;
}


a i{
    color:#000;
    margin:20px
}

main{
    margin:50px 20px;
}

.product-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;
}



#one, #two, #three, #four{
   background-size:cover;
   background-position-y: center;
   width:90%;
   height:200px;
   color:white;
   font-size:20px;
   display:flex;
   margin-bottom:50px;
}

#one:hover,#two:hover,#three:hover,#four:hover{
    opacity: .7;
}



.products h4{
    padding-top:40px;
}

#one{
    background-image: url("/images/map-hoop.jpg");
}

#two{
    background-image: url("/images/close-quirky-hoop.jpg");
}

#three{
    background-image: url("/images/embroidered-sweater.jpg");
}

#four{
    background-image: url("/images/new-thread-pallette.jpg");
}

#product-name{
    align-self:center;
    margin: 0 auto;
    font-weight:bold;
    text-shadow: 3px 2px #000;
}

 #one #product-name:before{
    content:"Map Kit";
}

#one #product-name:hover:before{
    content:"$35.00";
}
#two #product-name:before{
    content:"Pink & Proud Hoop";
}

#two #product-name:hover:before{
    content:"$25.00";
}

#three #product-name:before{
    content:"Daisy Sweater";
}

#three #product-name:hover:before{
    content:"$45.00";
}

#four #product-name:before{
    content:"Fall Color Pallette";
}

#four #product-name:hover:before{
    content:"$15.00";
}