body{ margin:0px; background:#fff; }

header {
    background: #eee;
    background-size:cover;
    height:150px;   
    padding: 0 2%; 
    position:sticky;
}

#top-content{
    display:flex;
}
.social-media{
    justify-content: flex-start;  
}
.account{
    justify-content:flex-end;
}
.account, .social-media{
    display:flex;
    flex-direction: row;
   width:50%;
    padding-top:20px;
}

.primary-nav nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width:100%;
    padding-top:20px;
}

a{
    text-decoration: none;
    color: #000;
    font-size:16.5px;
}

nav a:hover{
    text-decoration: underline;
    font-size:17px;
}


a i{
    color:#000;
    margin:20px
}

.four-across{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#one{
   background-image: url("/images/map-hoop.jpg");
   background-size:cover;
   width:250px;
   height:200px;


}